.container {
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
    font-family: 'Arial', cursive;
    width: 820px;
    margin: 0 auto;
    padding-top: 15px;
  }
  input {
    -webkit-box-shadow: 0 5px 6px -8px black;
    -moz-box-shadow: 0 5px 6px -8px black;
    box-shadow: 0 5px 6px -8px black;
  }
  button {
    margin: 15px;
  } 